# For Loop <hr style="border:2.5px dotted rgba(61, 19, 77, 1)"></hr>

<b>Mel Justin M. Villa</b>
<br>Computer Engineering Student at <a href="https://www.tup.edu.ph" target="_blank">TUPV</a>
<br>Contact me at: <a href="mailto:melv.online05@gmail.com">melv.online05@gmail.com</a><br>

<b><h1>Iterating Over a List</b></h1>

In [1]:
fruits = ("apple", "banana", "cherry", "date", "elderberry", "fig", "grape")
for i in fruits:
    print(i)

apple
banana
cherry
date
elderberry
fig
grape

In [4]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for n in numbers:
    if n % 2 == 0:
        print(n)

2
4
6
8
10

In [5]:
for j in range(1,10):
    print(j)

1
2
3
4
5
6
7
8
9

In [7]:
for z in range(1,10,2):
    print(z)

1
3
5
7
9

In [8]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [ ]:
# key value
employee = {
    "name": ["John Doe", "Jane Smith", "Emily Davis"]
    "age": [30, 25, 35],
    "position": ["Software Engineer", "Data Analyst", "Project Manager"],
    'salary': [80000, 60000, 90000]
}

In [16]:
employee['position']

'Software Engineer'

In [18]:
for key in employee:
    print(key)

name
age
position
salary

In [19]:
for value in employee.values():
    print(value)

John Doe
30
Software Engineer
80000